.row.marketing
  .col-lg-8
    %h4 Graph
    #pjax-container
      = render file: 'demo/chart'
  .col-lg-4.well
    = form_for @form, as: :form, url: root_path, :html => { method: 'GET', class: 'form', 'data-pjax' => true } do |f|
      .form-group
        = f.label :operation
        = f.select :operation, PeriodicCalculations::QueryOptions::OPERATION, class: 'form-control input-sm'
      .form-group
        = f.label :interval_unit
        = f.select :interval_unit, PeriodicCalculations::QueryOptions::INTERVAL_UNIT, class: 'form-control input-sm'
      .form-group
        = f.label :target_column
        = f.select :target_column, [:price, :discount], class: 'form-control input-sm'
      .form-group
        = f.label :timestamp_column
        = f.select :timestamp_column, [:created_at, :paid_at], class: 'form-control input-sm'
      .form-group
        = f.label :start_time
        = f.text_field :start_time, 'data-behaviour' => 'datepicker', class: 'form-control input-sm'
      .form-group
        = f.label :end_time
        = f.text_field :end_time, 'data-behaviour' => 'datepicker', class: 'form-control input-sm'
      .form-group.checkbox
        = f.label :cumulative do
          = f.check_box :cumulative
          Cumulative

  .row.marketing
    .col-lg-12
      %table.table
        %thead
          %tr
            %th Purchase Id
            %th Price
            %th Discount
            %th Paid at
            %th Created at
        %tbody
          - Purchase.all.each do |purchase|
            %tr
              %td= purchase.id
              %td= purchase.price
              %td= purchase.discount
              %td= purchase.created_at
              %td= purchase.paid_at

